body {
    background: url(scenery.jpg);
    background-size: cover;
    background-position: center;
}
#content {
    padding: 20px;
    text-align: center;
    padding-top: 25%;
    background: slategray;
    opacity: 0.8;
    color: white;
}