body {
    background: url(scenery.jpg);
    background-size: cover;
    background-position: center;
    font-family: Montserrat;
}
#content {
    padding: 20px;
    text-align: center;
    padding-top: 25%;
    color: white;
}
hr {
    border: 1px solid white;
}