body {
    background: url(scenery.jpg);
    background-size: cover;
    background-position: center;
    font-family: Montserrat;
    color: white;
}
html {
    height: 100%;
}
#content {
    padding: 20px;
    text-align: center;
    padding-top: 25%;
    color: white;
}
h1 {
    font-weight: 700;
    font-size: 5em;
}
hr {
    border: 1px solid white;
    width: 400px;
}