* {
    border: 1px solid lightgray;
}
li a {
    color: red;
}
h4 + ul {
    border: 3px solid dodgerblue;
}
a[href="http://www.google.com"]{
    background: saddlebrown;
    font-style: italic;
    font-size: 20px;
}
ul:nth-of-type(2) {
    background: darkorchid;
}